@import "../variables.less";

.body_style(){
    background-color: @main_color-background;
    font-family: @text_font-style;
    font-size: @text_font-size;
    color: @text_color;
    min-width:  @main_min-width;
    height: @main_height-size;
    overflow-x: hidden;
}



