*::before,
*::after {
	box-sizing: border-box;
}

body {
  background-color: #00ffff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  line-height: 2;
  color: #fff;
  min-width: 320px;
  overflow-x: hidden;
  min-height: 700vh;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-show {
    display: flex;
}

.modal-window {
    position: relative;
    z-index: 1;
    width: 550px;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 0 10px 15px rgba(0,0,0, .4);
    background-color: #98b6c3;
}

.modal-window__title {
    text-align: center;
}

.modal .overlay{
    background-color: #000;
    opacity: .4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.btn-show__modal_widow {
    background-color: #98b6c3;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 8px 16px;
    font-size: 18px;
    margin: 5px;
}

.modal-window__btn-close {
    position: absolute;
    right: 14px;
    top: 14px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    opacity: .5;
}

.modal-window__btn-close:hover{
    opacity: .7;
}


