*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #00ffff;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 2;
  color: #fff;
  min-width: 320px;
  overflow-x: hidden;
  min-height: 700svh;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-show {
  display: flex;
}

.modal-window {
  position: relative;
  opacity: 1;
  z-index: 1;
  top: -20px;
  width: 550px;
  border-radius: 8px;
  border: 1px solid black;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  background-color: #98b6c3;
  animation-name: move-down-modal-window;
  animation-duration: .3s ;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-name: move-down-modal-window;
  -webkit-animation-duration: .3s ;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}

@keyframes move-down-modal-window {
  0% {
    opacity: 0.5;
    top: 0px;
  }
  50% {
    opacity: 0.7;
    top: 5px
  }
  100% {
    opacity: 1;
    top: 10px;
  }
}

.modal-window__title {
  text-align: center;
}

.modal .overlay {
  position: absolute;
  opacity: 0.05;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  animation-name: move-down-modal-window-overlay;
  animation-duration: .1s;
  animation-fill-mode: forwards;
  -webkit-animation-name: move-down-modal-window-overlay;
  -webkit-animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes move-down-modal-window-overlay {
  100% {
    background-color: #000;
    opacity: 0.4;
  }
}

.btn-show__modal_widow {
  background-color: #98b6c3;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  font-size: 18px;
  margin: 5px;
}

.modal-window__btn-close {
  position: absolute;
  right: 14px;
  top: 14px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.5;
}

.modal-window__btn-close:hover {
  opacity: 0.7;
}
