/* :root {
  --size-container: 
} */

*{
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(24, 25, 24);
  align-items: center;
  justify-content: center;
  position: relative;
}

.wrapper-forms {
    background-color: rgba(0,0,0,0.13);
    position: -webkit-sticky; 
    position: sticky;
    top: 0;  
    text-align: center;
}

.wrapper-forms * {
    margin: 1%;
    font-size: 1.3rem;
    border-radius: 8px;
    border:none;
}

.container {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
}


[class^='wrapper']{
   background-color: rgb(35, 35, 33);
   /* background-color: red; */
   /* -webkit-box-reflect: right -100% linear-gradient(transparent,rgba(0,0,0,.4)); */
   /* animation: animation_line 1s linear 0.1s  infinite reverse; */
   /* border-radius: 50%; */
}


.box-animation{
  /* min-height: var(--size-container); */
  /* min-width: var(--size-container); */
   /* background-color: rgb(35, 35, 33); */
   width: attr(data-size)px;
   height: attr(data-size)px;
   background-color: red;
   -webkit-box-reflect: right -100% linear-gradient(transparent,rgba(0,0,0,.4));
   animation: animation_line 1s linear 0.1s  infinite reverse;
   border-radius: 50%;
}


@keyframes animation_line
{
  0%
  {
    background-position: 0% ;
  }
  100%
  {
    background-position: var(--size);
  }
}

.demo{
  background-color: blue;
  width: 300px;
  height: var(--size-demo);
}