@require "./variables.styl"

body
    background-color color-background
    font-family font-style
    font-size font-size-text
    color color-text
    min-width  min-width
    overflow-x hidden
    height main-height-size


