@require './mixins.styl'
    
overlay_style()
    .overlay
        background-color #fff
        opacity .4
        position-center(absolute)
        width 1000vh
        height 1000vh
        z-index: 0;
