//body
_main_color-background = #cc8ffa
_text_color = #fff
_text_font-size = 16px
_text_font-style = 'Arial'
_main_min-width = 320px
_main_height-size = 700vh

//buttons
_button_color-background = #916fde



