*{
    box-sizing: border-box;
}

:root {
    font-family: 'Agdasima', sans-serif;
}

body {
    background-color: red;
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    /* grid-template-columns: 25% 1fr; */
    /* grid-template-areas: 
        "color-1 color-1"
        "color-2 color-3"
        "color-2 color-4"
        "color-5 color-5"
    ; */
}

form {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;  
}

div {
    border: 1px solid black;
}


