@mixin input-number-arrows-none($element) {
  #{$element}::-webkit-outer-spin-button,
  #{$element}::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  #{$element}[type="number"] {
    -moz-appearance: textfield;
  }
}
