@import "../variables.scss";

@mixin webkit-gradient() {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@mixin line-gradient-header($deg_i: 90){
    background: linear-gradient(#{$deg_i}deg,
     $color1,
    $color2,
    $color3);
    @include webkit-gradient;
   
};

@mixin line-gradient-body($deg_i: 90) {
    background: linear-gradient(#{$deg_i}deg,
    $color4,
    $color5);
}