/* Positioning elements start code*/
/* Позиционирования елементов */
.wrapper div{         /* задаём размер звезды через объвёртку div width: 50% и назначение элементу svg width: 100% */
    width: 50%;
    margin: 0.8vw;
}
svg {
    width: 100%;
    height: auto;
    fill: rgba(128, 128, 128, 0.753); /* задаём цвет неактивной звезды */
}
.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
/* end Positionig elements */


/* Анимация + :hover */
/* Animation plus :hover star code*/
/* Animation plus cliked on star */
.wrapper div:hover svg,
.wrapper div:hover ~ div svg,
.wrapper .clicked-on-star svg,
.wrapper .clicked-on-star  ~ div svg{         
  animation: 0.3s anim-fill forwards 0s;
  /* New Style */
}

@keyframes anim-fill{
  to{
    fill:  rgb(220, 238, 28);
  }
}
/* end code Animation  */


