@require "../variables.styl"

body_style()
    body
        background-color _main_color-background
        font-family _text_font-style
        font-size _text_font-size
        color _text_color
        min-width  _main_min-width
        overflow-x hidden
        height main-height-size


