@mixin button_close_modal_window() {
    .modal-window__btn-close {
        position: absolute;
        right: 14px;
        top: 14px;
        border: none;
        cursor: pointer;
        background-color: transparent;
        opacity: .5;
        &:hover {
            opacity: .7;
        }
    }
}
