@import '../mixins/mixins.less';

.overlay_style(){
    .overlay {
        position: center(absolute);
        background-color: #fff;
        opacity: 0.4;
        max-width: 100svh;
        max-height: 100s`vh;
        z-index: 0;
    }
    
}
  
  
// .position-center(@arg) {
//     position: @arg;
//     left: 50%;
//     top: 50%;
//     transform: translateX(-50%) translateY(-50%);
// }
