@import './mixin_position_center.scss';

@mixin overlay_style(){
    .overlay {
        @include position-center(fixed);   
        opacity: 0.4;
        max-width: 100svh;
        max-height: 100svh;
        z-index: 0;
    }
  
}
  
  
