:root {
    --color-default-value: 100;
}
body {
    background-color: rgb(var(--rgb-red,var(--color-default-value)),
                          var(--rgb-green,var(--color-default-value)),
                          var(--rgb-blue,var(--color-default-value)));
    color: white;
}

@media (orientation: landscape) {
    canvas{
        max-width: 90vh;
    }
}

@media (orientation: portrait) {
    canvas {
        max-width: 93vw;
    }    
}
 




