@require "../mixins/mixins.styl"
@require "../variables.styl"

modal_style()
    .modal
        position-center(fixed)
        display none

    .modal-show 
        display flex

    .modal-window 
        z-index 1
        border-radius 20px
        width 550px
        box-shadow 0 10px 15px rgba(0,0,0, .4)
        background-color _button_color-background
        padding 25px 0 25px 0

    .modal-window__title 
        text-align center


